@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

textarea:invalid[titlefocused="true"] ~ span,
textarea[titlevalid="false"] ~ span {
  display: block;
}

div:has(textarea:invalid[contentfocused="true"]) + span,
div:has(textarea[contentvalid="false"]) + span {
  display: block;
}

.w-tc-editor.min-h-full {
  min-height: auto;
  overflow: auto !important;
}

div.md-preview-note-wrapper > p {
  overflow-wrap: break-word;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 24px;
}

.twolines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5ch;
}

.w-tc-editor {
  background-color: #fff !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

img[src=""] {
  display: none;
}

.scrollable-element {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.scrollable-element::-webkit-scrollbar {
  height: 0.2em;
  background-color: transparent;
}

.scrollable-element::-webkit-scrollbar-thumb {
  background-color: transparent;
  scrollbar-width: none;
}

.scrollable-element::-moz-scrollbar {
  width: 0;
  background-color: transparent;
}
