@tailwind base;
@tailwind components;
@tailwind utilities;

.twolines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5ch;
}

.w-tc-editor {
  background-color: #fff !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}